# Here is an example of which credentials to put in a .env file to run the application

# Postgresql database credentials
POSTGRES_USER=audio_admin
POSTGRES_PASSWORD=secure_password_98765
POSTGRES_DB=audio_classifier_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# The port on which the API will run
API_PORT=8080

# If you want to train the model on other audios, put the path for the CSV target and the audio folder
CSV_PATH=./example/example.csv
AUDIO_FOLDER=/example/
